body{
    background-color:#f7f8fa;
    box-shadow: border-box;
    width:100%;
    font-family:"Rubik" ;
}
.btn:hover{
    box-shadow: 0px 0px 10px 0px grey;
    -webkit-transition:0.4s all;
    transition:0.4s all;
}
.btn{
    -webkit-transition:0.4s all;
    transition:0.4s all;
}
/* Style The Dropdown Button */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.select{
    background-color:#f6f6f6;
    color:#000;
    opacity:0.5;
    height:45px;
    font-size: 20px;
    width:100%;
}
.select option{
    background-color:white;
    color:#00274c;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: ;
    background:#00274c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*Navigation bar*/
#navigation {
    background: #00274c;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #fff;
    border: 0;
    border-radius: 0;
}
h3, h2{
	font-size: 50px;
	color:#00274c;
	font-weight: lighter;
}
#navigation a {
    color: #5e718f;
    text-decoration: none;
}

#navigation a:hover {
    color: #fff;
}
ul.nav li a{
    font-size:16px;
}
ul.nav li a:hover {
    background: transparent;
    color:#4ac653;
}
.dropdown-menu{
    color:#5e718f;
}
.icon-bar{
    color: #4ac653;
}
.navbar-brand{
    font-size:20px;
}
.fa-facebook , .fa-twitter{
    padding:1%;
    padding-left:2%;
    padding-right:2%;
    color:;
    background-color:;
}
.fa-twitter{
    color:;
    background-color:;
}
.fa-user{
    color:grey;
}
.first-header{
	background:url("purple.jpg");
	padding-top:10%;
	padding-bottom:10%;
	padding-left: 12%;
	padding-right:12%;
	font-family: "Rubik";
}
.first-header input[type="search"]{
	border:none;
	outline-right:none;
	outline:none;
	border:2px solid #00274c;
	height:50px;
	width:100%;
	border-right:none;
	color:#4ac653;
	font-family: "Rubik";
	font-size: 20px;
	border-radius: 3px;
}
.first-header .input-group-addon{
	background-color: white;
	color:#00274c;
	padding-left:20px;
	padding-right:20px;
	border:2px solid #00274c;
	border-left:none;
	-webkit-transition:0.4s all ease-in-out;
	transition: 0.4s all ease-in-out;
}
.first-header .input-group-addon:hover{
	background-color: #00274c;
	color:white;
	padding-left:20px;
	padding-right:20px;
	border:2px solid #00274c;
	border-left:none;
	-webkit-transition:0.4s all ease-in-out;
	transition: 0.4s all ease-in-out;
}
.first-header h1{
	color:#00274c;
	font-weight:bold;
	font-size:50px;
	user-select:none;
	word-spacing: ;
}
.fa-filter , .fa-bitcoin, .fa-map-marker, .fa-user, .fa-code, .fa-mortar-board, .fa-thumbs-up, .fa-users, .fa-envelope, .fa-cube, .fa-certificate{
	color:#00274c;
}
.services{
	padding-top:5%;
	padding-bottom:5%;
	text-align: center
}
.services h5{
	color:;
	font-size:17px
}
.services p{
	font-size:15px;
	color:;
	font-weight:lighter
}
.featured-services{
}
.featured-services h3{
	font-size:40px;
	font-family: "Rubik";
	font-weight: lighter;
}
.featured-services-list{
	background-color:white;
	height:auto;
	width:100%;
	box-shadow: 0px 0px 15px grey;
	margin-bottom:5%;
	padding-bottom:2%;
}
.featured-services-list:hover{
	background-color:white;
	height:auto;
	width:100%;
	box-shadow: 0px 0px 10px grey;
}
.some-of-our-best{
	height:auto;
}
.some-of-our-best-list{
	background-color:white;
	height:auto;
	width:100%;
	box-shadow: 0px 0px 15px grey;
	margin-bottom:8%;
	padding-bottom:3%;
	height:auto;
}
.some-of-our-best-list h5{
	color:#6a6a6a;
	font-size:18px;
}
.some-of-our-best-list .client-location{
	color:#6a6a6a;
	font-size:14px;
	font-weight:lighter
}
.some-of-our-best-list p{
	color:#6a6a6a;
	font-weight:lighter;
	font-size:12px;
	padding-left:5%;
	padding-right:5%;
}
.some-of-our-best-list:hover{
	background-color:white;
	height:auto;
	width:100%;
	box-shadow: 0px 0px 10px grey;
	margin-bottom:5%;
}
.figure-caption{
    font-family: "Rubik";
    padding-left:1%;
    padding-right:1%;
    padding-top:3%;
    padding-bottom:2%;
    font-weight: bold;
    font-family: "Rubik";
    text-align: center;
}
.figure-caption p{
    font-size: 15px;
    font-family: "Rubik";
    text-align: center;
}
.hr{
	border:solid 1px #00274c;
}
.hire{
	color:#ffffff;
    background-color:#4ac653;
    width:100%;
    -webkit-transition:0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    outline:none;
    border:none;
    box-shadow: 0px 0px 0px 0px;
}
.hire:hover{
	color:#4ac653;
    width:100%;
    background-color:#ffffff;
    -webkit-transition:0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    outline:none;
    border:none;
    box-shadow: 0px 0px 0px 0px;
    border:;
}
.consult{
	padding-top:5%;
	padding-bottom:5%;
	text-align: center	
}
.user-option{
	margin-bottom:5%;
	margin-top:5%;
	text-align:center;
}
.modal-footer a{
	color:#4ac653;
}
/*form*/
input[type="password"]{
    outline:none;
    border:none;
    width:100%;
    font-size:15px;
    border-bottom:2px solid #b8c9d8;
    color:#b8c9d8;
    padding-top:1%;
    padding-left:1%;
    -webkit-transition:0.5s all ease-in-out;
    transition:0.5s all ease-in-out;
}
/*form hover*/
input[type="password"]:focus{
    outline:none;
    border:none;
    width:100%;
    font-size:15px;
    border-bottom:2px solid #b8c9d8;
    color:#b8c9d8;
    -webkit-transition:0.5s all ease-in-out;
    transition:0.5s all ease-in-out;
}
input[type="password"]:hover{
    outline:none;
    border:none;
    width:100%;
    font-size:15px;
    border-bottom:2px solid #b8c9d8;
    color:#b8c9d8;
    -webkit-transition:0.5s all ease-in-out;
    transition:0.5s all ease-in-out;
}
input[type="text"]{
    outline:none;
    border:none;
    width:100%;
    font-size:15px;
    border-bottom:2px solid #b8c9d8;
    color:;
    padding-top:1%;
    padding-left:1%;
    -webkit-transition:0.5s all ease-in-out;
    transition:0.5s all ease-in-out;
}
.form div .btn-submit{
    color:#ffffff;
    background-color:#4ac653;
    width:100%;
    -webkit-transition:0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    outline:none;
    border:none;
}
.form div .btn-submit:hover{
    color:#4ac653;
    width:100%;
    background-color:#ffffff;
    -webkit-transition:0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    outline:none;
    border:none;
}
.btn-facebook-login{
	background-color: #3c5998;
	color:white;
}
.btn-facebook-login:hover{
	background-color: #3c5998;
	opacity:0.9;
	color:white;
}
.label{
    font-size:15px;
    color:#4ac653;
    font-weight: lighter;
}
.contain p{
	color:grey;
	font-weight: lighter;
	font-size:15px;
}
/* Customize the label (the container) */
.contain {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.contain input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.contain:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.contain input:checked ~ .checkmark {
  background-color: #4ac653;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;  
}
/* Show the checkmark when checked */
.contain input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.contain .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*form hover*/
input[type="text"]:focus{
    outline:none;
    border:none;
    width:100%;
    font-size:15px;
    border-bottom:2px solid #b8c9d8;
    color:#b8c9d8;
    -webkit-transition:0.5s all ease-in-out;
    transition:0.5s all ease-in-out;
}
input[type="text"]:hover{
    outline:none;
    border:none;
    width:100%;
    font-size:15px;
    border-bottom:2px solid #b8c9d8;
    border-right:2px solid #b8c9d8;
    color:#b8c9d8;
    -webkit-transition:0.5s all ease-in-out;
    transition:0.5s all ease-in-out;
}
.how-it-works-list .number{
    background-color:#00274c;
    font-size: 24px;
    font-family: "Rubik";
    color:white;
    border-radius:50%;
    padding:3%;
    padding-left:6%;
    padding-right:6%;
}
.hire-price{
    color:#4ac653;
    font-size: 18px;
    font-family: "Rubik";
    font-weight:lighter;
}
.hire-button{
    color:red;
    padding-right:2%;
    padding-left:2%;
    padding-bottom:4%;
}
.btn-success{
    box-shadow: 0 0 0 0;
}
.img-fluid{
    height:220px;
    width:100%;
}
.hire-description{
    height:100px;
}
.btn-success:hover{
    box-shadow: 0 0 0 0;   
}
/*footer*/
.footer{
    background-color:#00274c;
    height:50px;
    width:100%;
    padding-top:1%;
    padding-bottom:1%;
}
.about a{
    text-decoration:none; 
}
.footer-right-text{
    font-size:12px;
}
.footer-right-text a{
    color:#576a89;
    text-decoration:none;
}
.footer a:hover {
    color: #ffffff;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .first-division-mobile{
        display:none;
    }
    .second-division-mobile{
        width:100%;
    }
    .footer{
    	display:none;
    }
    .first-header{
    	padding-top:6%;
    	padding-bottom:6%;
    }
    .figure-caption-2{
        height:auto;
        margin-bottom:15%;
    }
    .hire-button{
        display:none;
    }
}
@media only screen and (width:768px){
    .figure-caption-2{
        margin-bottom:-10%;
    }
    .hire-button{
        display:none;
    }
}
/*Desktop*/
@media only screen and (min-width:769px){
    .container{
        margin:auto;
    }
    body{
        width:100%;
    }
    .footer{
    	display:block;`
    }
}